<div class="jumbotron">
    <p class="lead">
        Jobs of place
    </p>
</div>

<table style="width: 100%">
    <tbody>
        <tr>
            <td>
                <div style="padding-left: 20px; padding-right: 20px">
                    <select class="form-control" ng-model="selectedPlace" ng-change="changePlaceEvent()"
                            ng-options="item.name group by item.placeType for item in places">
                    </select>
                </div>
            </td>
            <td>
                <div style="padding-left: 20px; padding-right: 20px">
                    <input class="form-control" style="width: 100%" type="week" name="input" ng-model="dayChoosen" placeholder="YYYY-W##" required ng-change="changeDateEvent()" />
                </div>
            </td>
        </tr>
        <tr>
            <td/>
            <td>
                <div style="text-align: center">
                    {{dayString}}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="panel panel-info" ng-show="jobs.length == 0">
    <div class="panel-body">There are no jobs for {{selectedEmployee.name}} in selected week ({{dayString}})</div>
</div>
<div style="text-align: center; padding-top: 10px" ng-hide="loaded">
    <img src="images/hourglass.gif"/>
</div>
<table ng-show="loaded && (jobs.length != 0)" class="table">
    <col width="0">
    <col width="1500">
    <thead>
        <tr>
            <th>Day</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
    <tr style="height: 1px">
        <td>Monday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[0].length != 0)" id="vis0"></div>
            <div ng-show="(employeeIDs[0].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px">{{options[0].end.date()}}</td>
    </tr>
    <tr style="height: 1px">
        <td>Tuesday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[1].length != 0)" id="vis1"></div>
            <div ng-show="(employeeIDs[1].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px">{{options[1].end.date()}}</td>
    </tr>
    <tr style="height: 1px">
        <td>Wednesday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[2].length != 0)" id="vis2"></div>
            <div ng-show="(employeeIDs[2].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px">{{options[2].end.date()}}</td>
    </tr>
    <tr style="height: 1px">
        <td>Thursday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[3].length != 0)" id="vis3"></div>
            <div ng-show="(employeeIDs[3].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px">{{options[3].end.date()}}</td>
    </tr>
    <tr style="height: 1px">
        <td>Friday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[4].length != 0)" id="vis4"></div>
            <div ng-show="(employeeIDs[4].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px">{{options[4].end.date()}}</td>
    </tr>
    <tr style="height: 1px">
        <td>Saturday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[5].length != 0)" id="vis5"></div>
            <div ng-show="(employeeIDs[5].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="border: 0; font-size: 27px; color:#d4514a">{{options[5].end.date()}}</td>
    </tr>
    <tr style="height: 1px" ng-show="(employeeIDs[6].length != 0)">
        <td>Sunday</td>
        <td rowspan="2" style="vertical-align: middle">
            <div ng-show="(employeeIDs[6].length != 0)" id="vis6"></div>
            <div ng-show="(employeeIDs[6].length == 0)">Closed</div>
        </td>
    </tr>
    <tr ng-show="(employeeIDs[6].length != 0)">
        <td align="center" style="border: 0; font-size: 27px; color:#d4514a">{{options[6].end.date()}}</td>
    </tr>
    </tbody>
</table>
