<div class="jumbotron">
    <p class="lead">
        Jobs of day
    </p>
</div>

<table class="overview-table">
    <tbody>
    <tr>
        <td>
            <div>
                <input class="form-control" class="half-width" type="date" name="input" ng-model="dayChoosen" required ng-change="changeDateEvent()" />
            </div>
        </td>
        <td>
            <div>
                <form>
                    <label class="label-radio"><input ng-change="changeGroupEmployeePlace()" type="radio" ng-model="reportType" value="place">Place</label>
                    <label class="label-radio" style="margin-left: 8px"><input ng-change="changeGroupEmployeePlace()" type="radio" ng-model="reportType" value="employee">Employee</label>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="panel panel-danger vertical-space-before" ng-show="jobs.length == 0">
    <div class="panel-body">There are no jobs for {{dayString}}</div>
</div>
<div class="loader-div" ng-hide="loaded">
    <img src="images/hourglass.gif"/>
</div>
<div class="vertical-space-before" ng-show="(employeeData.length != 0)" id="timeline"></div>
