<div class="jumbotron">
    <p class="lead">
        Jobs of place
    </p>
</div>

<table style="width: 100%">
    <tbody>
        <tr>
            <td>
                <div style="padding-left: 20px; padding-right: 20px">
                    <select class="form-control" ng-model="selectedPlace" ng-change="changePlaceEvent()"
                            ng-options="item.name group by item.placeType for item in places">
                    </select>
                </div>
            </td>
            <td>
                <div style="padding-left: 20px; padding-right: 20px">
                    <input class="form-control" style="width: 100%" type="week" name="input" ng-model="dayChoosen" placeholder="YYYY-W##" required ng-change="changeDateEvent()" />
                </div>
            </td>
        </tr>
        <tr>
            <td/>
            <td>
                <div style="text-align: center">
                    {{dayString}}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="panel panel-info" ng-show="jobs.length == 0">
    <div class="panel-body">There are no jobs for {{selectedPlace.name}} in selected week ({{dayString}})</div>
</div>
<div style="text-align: center; padding-top: 10px" ng-hide="loaded">
    <img src="images/hourglass.gif"/>
</div>
<table ng-show="loaded && (jobs.length != 0)" class="table">
    <col width="0">
    <col width="1500">
    <thead>
        <tr>
            <th>Day</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monday</td>
            <td>
                <div id="vis0"></div>
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                <div id="vis1"></div>
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                <div id="vis2"></div>
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                <div id="vis3"></div>
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                <div id="vis4"></div>
            </td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>
                <div id="vis5"></div>
            </td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>
                <div id="vis6"></div>
            </td>
        </tr>
    </tbody>
</table>

<!--<div id="visualization"></div>-->