<div class="jumbotron">
    <table>
        <tbody>
        <tr>
            <td class="button-width"></td>
            <td class="middle-icon-title">
                <span class="glyphicon glyphicon-tasks"></span> Jobs of Place
            </td>
            <td class="button-width"></td>
        </tr>
        </tbody>
    </table>
</div>

<table class="overview-table">
    <tbody>
        <tr>
            <td>
                <div>
                    <select class="form-control" ng-model="selectedPlace" ng-change="changePlaceEvent()"
                            ng-options="item.name group by item.placeType for item in places">
                    </select>
                </div>
            </td>
            <td>
                <div>
                    <input class="form-control" type="week" name="input" ng-model="dayChoosen" placeholder="YYYY-W##" required ng-change="changeDateEvent()" />
                </div>
            </td>
        </tr>
        <tr>
            <td/>
            <td>
                <div>
                    {{dayString}}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' create-job-alert alert-dismissible'" >
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<div class="panel panel-danger" ng-show="jobs.length == 0">
    <div class="panel-body">There are no jobs for {{selectedPlace.name}} in selected week ({{dayString}})</div>
</div>
<div class="loader-div" ng-hide="loaded">
    <img src="images/hourglass.gif"/>
</div>
<table ng-show="loaded && (jobs.length != 0)" class="table timesheet-table">
    <col width="0">
    <col width="1500">
    <thead>
        <tr>
            <th>Day</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Monday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[0].length != 0)" id="vis0"></div>
            <div ng-show="(employeeIDs[0].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" class="timesheet-date-td">{{options[0].end.date()}}</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[1].length != 0)" id="vis1"></div>
            <div ng-show="(employeeIDs[1].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" class="timesheet-date-td">{{options[1].end.date()}}</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[2].length != 0)" id="vis2"></div>
            <div ng-show="(employeeIDs[2].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" class="timesheet-date-td">{{options[2].end.date()}}</td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[3].length != 0)" id="vis3"></div>
            <div ng-show="(employeeIDs[3].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" class="timesheet-date-td">{{options[3].end.date()}}</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[4].length != 0)" id="vis4"></div>
            <div ng-show="(employeeIDs[4].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center" class="timesheet-date-td">{{options[4].end.date()}}</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[5].length != 0)" id="vis5"></div>
            <div ng-show="(employeeIDs[5].length == 0)">Closed</div>
        </td>
    </tr>
    <tr>
        <td align="center"  class="timesheet-date-week-td">{{options[5].end.date()}}</td>
    </tr>
    <tr ng-show="(employeeIDs[6].length != 0)">
        <td>Sunday</td>
        <td rowspan="2" class="timesheet-data-td">
            <div ng-show="(employeeIDs[6].length != 0)" id="vis6"></div>
            <div ng-show="(employeeIDs[6].length == 0)">Closed</div>
        </td>
    </tr>
    <tr ng-show="(employeeIDs[6].length != 0)">
        <td align="center" class="timesheet-date-week-td">{{options[6].end.date()}}</td>
    </tr>
    </tbody>
</table>
