<div class="jumbotron">
    <p class="lead">
        Places
    </p>
    <table style="width: 100%">
        <tr>
            <td style="text-align: left">
            </td>
            <td style="text-align: right">
                <a style="padding: 4px 10px" class="btn btn-success" ng-href="#!/createPlace"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
    </table>
</div>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' alert-dismissible'" >
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Place type</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="place in places">
        <td>{{place.placeType}}</td>
        <td>{{place.name}}</td>
        <td><a title="Edit" class="btn" style="padding: 0" ng-click="updatePlace(place)"><span class="glyphicon glyphicon-tag"></span></a></td>
    </tr>
    </tbody>
</table>
