<div class="jumbotron">
    <table>
        <tbody>
            <tr>
                <td class="button-width"></td>
                <td class="middle-icon-title">
                    <span class="glyphicon glyphicon-lamp"></span> Places
                </td>
                <td class="button-width">
                    <a title="CreateNew" class="btn-success" ng-href="#!/createPlace"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' alert-dismissible'" >
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Place type</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="place in places">
        <td>{{place.placeType}}</td>
        <td>{{place.name}}</td>
        <td><a title="Edit" class="btn list-item-href" ng-click="updatePlace(place)"><span class="glyphicon glyphicon-tag"></span></a></td>
    </tr>
    </tbody>
</table>
