<div class="jumbotron">
    <p class="lead">
        Create New Employee
    </p>
</div>

<div>
    <form name="form" class="css-form" novalidate>
        <table class="form-table">
            <tbody>
            <tr>
                <td style="width: 80px">Name</td>
                <td style="width: 350px"><input class="form-control" type="text" ng-model="employee.name" name="eName" required /></td>
                <td style="width: auto" class="form-warning">
                    <div ng-show="form.$submitted || form.eName.$touched">
                        <div ng-show="form.eName.$error.required">Name is required.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><input class="form-control" type="text" ng-model="employee.surname" name="eSurname" required /></td>
                <td class="form-warning">
                    <div ng-show="form.$submitted || form.eSurname.$touched">
                        <div ng-show="form.eSurname.$error.required">Surname is required.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input class="form-control" type="text" ng-model="employee.title" name="eTitle" /></td>
                <td class="form-warning"></td>
            </tr>
            <tr>
                <td>Birth</td>
                <td><input class="form-control" type="date" ng-model="employee.birth" name="eBirth" required /></td>
                <td><a ng-click="resetBirth(employee)" >reset</a></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input class="form-control" type="text" ng-model="employee.email" name="eEmail" pattern=".+@.+\....?" /></td>
                <td class="form-warning">
                    <div ng-show="form.$submitted || form.eEmail.$touched">
                        <span ng-show="form.eEmail.$error.pattern">Email is not valid.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input class="form-control" type="text" ng-model="employee.phone" name="ePhone" pattern="(09\d{8}|\+421\d{9})" /></td>
                <td class="form-warning">
                    <div ng-show="form.$submitted || form.ePhone.$touched">
                        <span ng-show="form.ePhone.$error.pattern">Phone is not valid.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input class="form-control" type="text" ng-model="employee.address" name="eAddress" /></td>
                <td class="form-warning"></td>
            </tr>
            </tbody>
        </table>

        <input ng-show="doing == 'create'" type="submit" ng-click="reset(form)" value="Reset" />
        <input ng-show="doing == 'create'" type="submit" ng-click="form.$invalid ? null : update(employee)" value="Create" />
        <input ng-hide="doing == 'create'" type="submit" ng-click="form.$invalid ? null : update(employee)" value="Update" />
    </form>
    <pre>user = {{employee | json}}</pre>
    <pre>master = {{master | json}}</pre>
    <pre>status = {{status}}</pre>
</div>
<div>
    item: {{item}}
</div>