<div class="jumbotron">
    <table>
        <tbody>
        <tr>
            <td class="button-width"></td>
            <td class="middle-icon-title">
                <span class="glyphicon glyphicon-user"></span> Employees
            </td>
            <td class="button-width">
                <a title="Create new" class="btn-success" ng-href="#!/createEmployee"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' alert-dismissible'" >
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Birth</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees">
        <td>{{employee.name}} {{employee.surname}}{{titleWithComma(employee)}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.birth}}</td>
        <td><a title="Edit" class="btn list-item-href" ng-click="updateEmployee(employee)"><span class="glyphicon glyphicon-tag"></span></a></td>
    </tr>
    </tbody>
</table>
